<%# <h1>Rails frontend</h1>
<p>Change your life, learn to code</p>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div>

<div class="container">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<%= image_tag "logo.svg", alt: "RoR", width: 200 %>

<%# <i class="fa-solid fa-earth-americas"></i>

<div class="logo">
<p>Lorem ipsum dolor sit amet. Cum consequatur voluptatem qui repellat consectetur ex facilis culpa. Et quia inventore ut vitae nihil id exercitationem iure! Est voluptatem officia qui natus delectus ut illum quidem ad molestiae molestias aut sunt odio. Non corporis culpa est dolorum architecto est repellendus dignissimos quo autem quasi in temporibus magnam At quia maxime est accusamus obcaecati.</p>
</div> %>

<%# <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> %>


<%# JAVASCRIPT %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p><span data-controller="typed-js"></span></p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales augue id augue elementum aliquet. Vestibulum tincidunt erat sem, vitae malesuada quam egestas vitae. Maecenas urna ante, pharetra vitae tellus vitae, bibendum commodo orci. Nam mollis augue sed diam eleifend suscipit. Duis faucibus est vitae enim aliquet, consequat pretium justo vehicula. Aliquam finibus non quam a vehicula. Phasellus ante nibh, euismod a tristique eget, suscipit eu ipsum. Vivamus mi velit, pulvinar quis nunc vitae, dapibus lobortis est. Ut pretium vitae velit nec lacinia. Donec eget urna eu nibh fringilla posuere. Morbi egestas quam erat, eget sollicitudin libero porttitor eget. In quis dolor pretium arcu eleifend fringilla. In luctus a eros a vestibulum.

Proin efficitur erat ut dolor tempus, quis eleifend ligula facilisis. In hendrerit dolor sit amet commodo eleifend. Quisque vel tincidunt lectus. Nullam interdum quam nec eros commodo, vitae auctor nibh euismod. Nam efficitur, ex in laoreet tincidunt, quam ex faucibus ex, laoreet varius metus est et nisi. Maecenas imperdiet arcu lorem, ac iaculis turpis faucibus a. Aenean neque nibh, porta eu tristique ut, elementum semper nisi. Nam a rutrum sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut placerat sem at tempor cursus.

Fusce non tempus elit. Sed lobortis lacinia lacus sed pretium. Aenean non luctus libero, sed efficitur neque. Vivamus vitae risus pretium, euismod sem nec, elementum diam. Pellentesque faucibus eleifend congue. Quisque vulputate venenatis odio, et dapibus lorem volutpat ac. Vestibulum id nunc est. Mauris imperdiet lectus non dolor vehicula consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin, erat at consectetur malesuada, felis odio sagittis eros, et suscipit mi lectus vitae massa. Donec posuere consectetur ipsum a gravida. Sed a sem elit. Curabitur pulvinar laoreet tortor ut placerat. Aliquam efficitur massa odio, et maximus dui semper vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Aliquam sit amet cursus orci, id vestibulum nulla. Maecenas commodo tellus vitae sem auctor, at sagittis urna pulvinar. Aenean malesuada bibendum enim nec ultricies. Proin imperdiet eget nibh vel pharetra. Integer et mauris vel justo eleifend congue. Nam pulvinar non neque sit amet pulvinar. Integer quis finibus tortor. Praesent tincidunt semper massa, vel mattis elit ultricies in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam fringilla dolor nec nulla malesuada vehicula. Cras enim mi, ultricies non efficitur quis, accumsan ut risus. Curabitur et pellentesque quam. Curabitur vitae commodo purus. Donec euismod quam nec ante tempus porta.

Vestibulum imperdiet leo est, vehicula pulvinar ligula euismod vitae. Sed nec orci sapien. Donec dapibus dui vitae posuere convallis. Pellentesque eleifend justo vitae tellus pharetra dignissim. In eget pretium justo. Morbi dictum turpis nibh, et blandit nisl ornare quis. Suspendisse potenti. Sed lacinia scelerisque est, a auctor orci facilisis et. Cras faucibus risus vel nibh semper scelerisque. Curabitur aliquam ante dolor, sed placerat risus blandit quis.

Vivamus posuere consectetur feugiat. Aliquam blandit vehicula massa, sed sollicitudin mauris lacinia a. Mauris molestie nunc a odio tempus, sit amet accumsan sem posuere. Integer cursus accumsan vestibulum. Fusce rhoncus gravida neque sed cursus. Pellentesque efficitur mollis massa, sed ornare leo hendrerit sit amet. Cras eget pretium ex. Maecenas finibus suscipit felis, sit amet fringilla nibh ultricies sit amet. Aliquam varius commodo lorem ac eleifend. Mauris ut velit in lorem consectetur congue nec non augue. Nam ex sapien, eleifend sed quam quis, blandit iaculis metus.

Cras et mauris enim. Maecenas a velit commodo, varius nibh ac, mattis metus. Maecenas sagittis sagittis sem, non porttitor mi pulvinar sed. Curabitur quis molestie nulla. Pellentesque nunc eros, semper ut congue eget, accumsan quis est. Nullam vitae leo ante. Vestibulum vulputate nisl erat, eu sodales mi convallis vitae. Morbi porttitor nec tortor vel blandit. Mauris facilisis lobortis lobortis. Aenean dictum orci nec fermentum sodales. Curabitur sit amet mattis odio. Phasellus suscipit eros ac molestie bibendum. Nunc malesuada mattis nisl.

Nunc non maximus purus. Donec et accumsan orci, eget vehicula mi. Maecenas id mauris ullamcorper, aliquam tellus a, varius erat. Donec ullamcorper molestie felis, et commodo tortor blandit mollis. Donec tellus risus, faucibus non semper at, efficitur ut libero. Mauris fringilla augue sed gravida placerat. Cras et elementum sem. Sed scelerisque hendrerit pharetra. Phasellus nisl enim, euismod vitae enim a, euismod ornare nulla. Donec sed nunc id erat venenatis egestas vel porttitor mi. Praesent aliquam elit a mi auctor, a hendrerit mauris accumsan. Nunc vitae tellus diam. Ut laoreet, nisl vel elementum consequat, diam mi pretium est, non porttitor ligula odio et dui. Nunc pharetra pellentesque nunc, ac pharetra metus.

Phasellus lorem mi, aliquet at lacus sit amet, fringilla auctor leo. Mauris ornare porttitor facilisis. Duis ultricies nisi eu enim pulvinar, sit amet viverra tellus luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque enim, tincidunt quis diam eget, luctus posuere ipsum. Donec sit amet ante id augue feugiat accumsan ut nec eros. Pellentesque ornare, libero quis ullamcorper placerat, augue purus vehicula diam, eleifend ullamcorper justo felis a massa. Etiam eu bibendum leo, quis blandit magna. In hac habitasse platea dictumst.

Generated 10 paragraphs, 842 words, 5689 bytes of Lorem Ipsum
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales augue id augue elementum aliquet. Vestibulum tincidunt erat sem, vitae malesuada quam egestas vitae. Maecenas urna ante, pharetra vitae tellus vitae, bibendum commodo orci. Nam mollis augue sed diam eleifend suscipit. Duis faucibus est vitae enim aliquet, consequat pretium justo vehicula. Aliquam finibus non quam a vehicula. Phasellus ante nibh, euismod a tristique eget, suscipit eu ipsum. Vivamus mi velit, pulvinar quis nunc vitae, dapibus lobortis est. Ut pretium vitae velit nec lacinia. Donec eget urna eu nibh fringilla posuere. Morbi egestas quam erat, eget sollicitudin libero porttitor eget. In quis dolor pretium arcu eleifend fringilla. In luctus a eros a vestibulum.

Proin efficitur erat ut dolor tempus, quis eleifend ligula facilisis. In hendrerit dolor sit amet commodo eleifend. Quisque vel tincidunt lectus. Nullam interdum quam nec eros commodo, vitae auctor nibh euismod. Nam efficitur, ex in laoreet tincidunt, quam ex faucibus ex, laoreet varius metus est et nisi. Maecenas imperdiet arcu lorem, ac iaculis turpis faucibus a. Aenean neque nibh, porta eu tristique ut, elementum semper nisi. Nam a rutrum sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut placerat sem at tempor cursus.

Fusce non tempus elit. Sed lobortis lacinia lacus sed pretium. Aenean non luctus libero, sed efficitur neque. Vivamus vitae risus pretium, euismod sem nec, elementum diam. Pellentesque faucibus eleifend congue. Quisque vulputate venenatis odio, et dapibus lorem volutpat ac. Vestibulum id nunc est. Mauris imperdiet lectus non dolor vehicula consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin, erat at consectetur malesuada, felis odio sagittis eros, et suscipit mi lectus vitae massa. Donec posuere consectetur ipsum a gravida. Sed a sem elit. Curabitur pulvinar laoreet tortor ut placerat. Aliquam efficitur massa odio, et maximus dui semper vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Aliquam sit amet cursus orci, id vestibulum nulla. Maecenas commodo tellus vitae sem auctor, at sagittis urna pulvinar. Aenean malesuada bibendum enim nec ultricies. Proin imperdiet eget nibh vel pharetra. Integer et mauris vel justo eleifend congue. Nam pulvinar non neque sit amet pulvinar. Integer quis finibus tortor. Praesent tincidunt semper massa, vel mattis elit ultricies in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam fringilla dolor nec nulla malesuada vehicula. Cras enim mi, ultricies non efficitur quis, accumsan ut risus. Curabitur et pellentesque quam. Curabitur vitae commodo purus. Donec euismod quam nec ante tempus porta.

Vestibulum imperdiet leo est, vehicula pulvinar ligula euismod vitae. Sed nec orci sapien. Donec dapibus dui vitae posuere convallis. Pellentesque eleifend justo vitae tellus pharetra dignissim. In eget pretium justo. Morbi dictum turpis nibh, et blandit nisl ornare quis. Suspendisse potenti. Sed lacinia scelerisque est, a auctor orci facilisis et. Cras faucibus risus vel nibh semper scelerisque. Curabitur aliquam ante dolor, sed placerat risus blandit quis.

Vivamus posuere consectetur feugiat. Aliquam blandit vehicula massa, sed sollicitudin mauris lacinia a. Mauris molestie nunc a odio tempus, sit amet accumsan sem posuere. Integer cursus accumsan vestibulum. Fusce rhoncus gravida neque sed cursus. Pellentesque efficitur mollis massa, sed ornare leo hendrerit sit amet. Cras eget pretium ex. Maecenas finibus suscipit felis, sit amet fringilla nibh ultricies sit amet. Aliquam varius commodo lorem ac eleifend. Mauris ut velit in lorem consectetur congue nec non augue. Nam ex sapien, eleifend sed quam quis, blandit iaculis metus.

Cras et mauris enim. Maecenas a velit commodo, varius nibh ac, mattis metus. Maecenas sagittis sagittis sem, non porttitor mi pulvinar sed. Curabitur quis molestie nulla. Pellentesque nunc eros, semper ut congue eget, accumsan quis est. Nullam vitae leo ante. Vestibulum vulputate nisl erat, eu sodales mi convallis vitae. Morbi porttitor nec tortor vel blandit. Mauris facilisis lobortis lobortis. Aenean dictum orci nec fermentum sodales. Curabitur sit amet mattis odio. Phasellus suscipit eros ac molestie bibendum. Nunc malesuada mattis nisl.

Nunc non maximus purus. Donec et accumsan orci, eget vehicula mi. Maecenas id mauris ullamcorper, aliquam tellus a, varius erat. Donec ullamcorper molestie felis, et commodo tortor blandit mollis. Donec tellus risus, faucibus non semper at, efficitur ut libero. Mauris fringilla augue sed gravida placerat. Cras et elementum sem. Sed scelerisque hendrerit pharetra. Phasellus nisl enim, euismod vitae enim a, euismod ornare nulla. Donec sed nunc id erat venenatis egestas vel porttitor mi. Praesent aliquam elit a mi auctor, a hendrerit mauris accumsan. Nunc vitae tellus diam. Ut laoreet, nisl vel elementum consequat, diam mi pretium est, non porttitor ligula odio et dui. Nunc pharetra pellentesque nunc, ac pharetra metus.

Phasellus lorem mi, aliquet at lacus sit amet, fringilla auctor leo. Mauris ornare porttitor facilisis. Duis ultricies nisi eu enim pulvinar, sit amet viverra tellus luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque enim, tincidunt quis diam eget, luctus posuere ipsum. Donec sit amet ante id augue feugiat accumsan ut nec eros. Pellentesque ornare, libero quis ullamcorper placerat, augue purus vehicula diam, eleifend ullamcorper justo felis a massa. Etiam eu bibendum leo, quis blandit magna. In hac habitasse platea dictumst.

Generated 10 paragraphs, 842 words, 5689 bytes of Lorem Ipsum
